
/* Toggle Styles */
.fullheight {
    height:100%
}

html {
    height:100%
}

body {
    background-color:#000201;
    height:100%;
    background-image: url("../img/bloodsplatter.png");
}

@font-face {
    font-family:caviardreams;
    src:url(../fonts/caviardreams.ttf)
}

@font-face {
    font-family:gloop;
    src:url(../fonts/gloop.ttf)
}

.frontquote {
    text-align:center;
    color: #e2e2e2;
    font-family: caviardreams;
    margin-top: 20px;
}
#wrapper {
    padding-left:0;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease
}

#wrapper.toggled {
    padding-left:250px
}

.bgcolor {
    background-color:wh;
    color:#fff
}

#sidebar-wrapper {
    font-family: caviardreams;
    color: #000201;
    z-index:1000;
    position:fixed;
    left:250px;
    width:0;
    height:100%;
    margin-left:-250px;
    overflow-y:auto;
    background-color:#e2e2e2;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease
}

#navigationpos {
    z-index:999;
    font-family:"libelsuit";
    letter-spacing:1px;
    font-size:20px;
    position:fixed;
    top:0;
    width:100%;
    color:#434343;
    background-color:#000201;
}

.navigationlinks {
    font-family: caviardreams;
    color: #e2e2e2;
    text-decoration: none;
}

.navigationlinks:visited {
    color: #e2e2e2;
    text-decoration: none;
}

.navigationlinks:active {
    color: #e2e2e2;
    text-decoration: none;
}

.navigationlinks:hover {
    color: #ffffff;
    text-decoration: none;
}

#wrapper.toggled #sidebar-wrapper {
    width:250px
}

#page-content-wrapper {
    width:100%;
    height:100%;
    position:absolute
}

#wrapper.toggled #page-content-wrapper {
    position:absolute;
    margin-right:-250px
}

/* Sidebar Styles */
.sidebar-nav {
    position:absolute;
    top:0;
    width:250px;
    margin:0;
    padding:0;
    list-style:none
}

.sidebar-nav li {
    text-indent:20px;
    line-height:40px
}

.sidebar-nav li a {
    display:block;
    text-decoration:none;
    color:#000201;
    font-size: 30px;
}

.sidebar-nav li a:hover {
    text-decoration:none;
    color:#fff;
    background:rgba(255,255,255,0.2)
}

.sidebar-nav li a:active,.sidebar-nav li a:focus {
    text-decoration:none
}

.sidebar-nav > .sidebar-brand {
    height:65px;
    font-size:18px;
    line-height:60px
}

.sidebar-nav > .sidebar-brand a {
    color:#999
}

.sidebar-nav > .sidebar-brand a:hover {
    color:#fff;
    background:none
}

/* whateva that is */
#page-content-wrapper {
    position:relative
}

#wrapper.toggled #page-content-wrapper {
    position:relative;
    margin-right:0
}

/* whateva that was it ends here */




/* Navigation top button */
.white-navigation {
    color:#e2e2e2;
}

.white-navigation:visited {
    color:#e2e2e2
}

.white-navigation:hover {
    color:#ffffff
}

.white-navigation:active {
    color:#ffffff
}

.white-navigation:focus {
    color:#e2e2e2
}

/* navgation black here */
.black-navigation {
    color:#434343
}

.black-navigation:visited {

    color:#434343
}

.black-navigation:hover {
    color:#434343
}

.black-navigation:active {
    color:#434343
}

.black-navigation:focus {
    color:#434343
}

#linksright {
    font-family: arial;
    text-align:right;
    font-weight:700;
    padding-top:7px;
    font-size:15px;
    min-width:100px;
    color: #e2e2e2;
}










.fading {
    opacity:.3;
    border:1px;
    height:1px;
    background-image:linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0))
}

.hrmargin {
    margin-left:15px;
    margin-right:15px
}


.discoverbutton {
    border-radius: 5px;
    color: #96211b;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: #1b1a26;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-align: center;
    font-family: caviardreams;
    padding-bottom: 2px;


}

.discoverbutton:visited {
    color: #96211b;
    text-decoration: none;

    }
.discoverbutton:active {
    color:#a61810;
    background-color:#1f1e2b;
    text-decoration: none;
}
.discoverbutton:hover {
    color:#a61810;
    background-color: #1f1e2b;
    text-decoration: none;
}

.discoverbutton:visited {
    color:#96211b;
    text-decoration: none;
}

#partytext {
    font-family: caviardreams;
    font-size: 80px;
    text-align:center;
    text-shadow: -4px 0 #96211b, 0 4px #96211b, 4px 0 #96211b, 0 -4px #96211b;
}





/* This is an original footer 

.footer {
    margin-top: 80px;
    width: 100%;
    color: #434343;
background-color: #eaeaea;
    margin-bottom:0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    min-width: 250px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cfcfcf;
    
}

 This is where it ends */
.footer {
    text-align:center;
    color:#e2e2e2;
    margin-bottom:0;
    padding-top:5px;
    margin-top: 100px;
    padding: 20px;
    font-size:15px;
    font-family:"caviardreams"
}


#frontimage {
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
}

.maininfo {
    text-align: center;
    font-family: gloop;
    font-size: 36px;
    color: #ffffff;
     text-shadow: -4px 0 #96211b, 0 4px #96211b, 4px 0 #96211b, 0 -4px #96211b;

}
#maincontentwrapper {
    max-width: 960px;
    margin-top: 30px;
}

#buyticketsonline {
    margin-top: 10px;
max-width: 300px;
color: white;
font-size: 24px;
padding:2px;
text-align: center;
font-family: gloop;
border-radius: 1px;
border-color: white;
border-style: solid
}

#moreinformation {
    max-width: 960px;

}

#costumes {
    margin-top: 25px;
    font-family: gloop;
    text-align: center;
    font-size: 48px;
    color: #bc2121;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#moreinfo {
    font-family: caviardreams;
    font-size: 60px;
    text-align: center;
    text-shadow: -4px 0 #a21111, 0 4px #a21111, 4px 0 #a21111, 0 -4px #a21111;
}