
/* Toggle Styles */
.fullheight {
    height:100%
}

html {
    height:100%
}

body {
    background-image: url("../img/websitebackground.jpg");
    height:100%;
}

@font-face {
    font-family:msjhl;
    src:url(../fonts/msjhl.ttf)
}

@font-face {
    font-family:helvetica;
    src:url(../fonts/helvetica.ttf)
}



#wrapper {
    padding-left:0;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease
}

#wrapper.toggled {
    padding-left:250px
}

.bgcolor {
    background-color:wh;
    color:#fff
}

#sidebar-wrapper {
    font-family: "msjhl";
    color: #000201;
    z-index:1000;
    position:fixed;
    left:250px;
    width:0;
    height:100%;
    margin-left:-250px;
    overflow-y:auto;
    background-color:#e2e2e2;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease
}

#navigationpos {
    z-index:999;
    font-family:"libelsuit";
    letter-spacing:1px;
    font-size:20px;
    position:fixed;
    top:0;
    width:100%;
    color:#434343;
    background-color:#000201;
}

.navigationlinks {
    font-family: caviardreams;
    color: #e2e2e2;
    text-decoration: none;
}

.navigationlinks:visited {
    color: #e2e2e2;
    text-decoration: none;
}

.navigationlinks:active {
    color: #e2e2e2;
    text-decoration: none;
}

.navigationlinks:hover {
    color: #ffffff;
    text-decoration: none;
}

#wrapper.toggled #sidebar-wrapper {
    width:250px
}

#page-content-wrapper {
    width:100%;
    height:100%;
    position:absolute
}

#wrapper.toggled #page-content-wrapper {
    position:absolute;
    margin-right:-250px
}

/* Sidebar Styles */
.sidebar-nav {
    position:absolute;
    top:0;
    width:250px;
    margin:0;
    padding:0;
    list-style:none
}

.sidebar-nav li {
    text-indent:20px;
    line-height:40px
}

.sidebar-nav li a {
    display:block;
    text-decoration:none;
    color:#000201;
    font-size: 30px;
}

.sidebar-nav li a:hover {
    text-decoration:none;
    color:#fff;
    background:rgba(255,255,255,0.2)
}

.sidebar-nav li a:active,.sidebar-nav li a:focus {
    text-decoration:none
}

.sidebar-nav > .sidebar-brand {
    height:65px;
    font-size:18px;
    line-height:60px
}

.sidebar-nav > .sidebar-brand a {
    color:#999
}

.sidebar-nav > .sidebar-brand a:hover {
    color:#fff;
    background:none
}

/* whateva that is */
#page-content-wrapper {
    position:relative
}

#wrapper.toggled #page-content-wrapper {
    position:relative;
    margin-right:0
}

/* whateva that was it ends here */




/* Navigation top button */
.white-navigation {
    color:#e2e2e2;
}

.white-navigation:visited {
    color:#e2e2e2
}

.white-navigation:hover {
    color:#ffffff
}

.white-navigation:active {
    color:#ffffff
}

.white-navigation:focus {
    color:#e2e2e2
}

/* navgation black here */
.black-navigation {
    color:#434343
}

.black-navigation:visited {

    color:#434343
}

.black-navigation:hover {
    color:#434343
}

.black-navigation:active {
    color:#434343
}

.black-navigation:focus {
    color:#434343
}

#linksright {
    font-family: arial;
    text-align:right;
    font-weight:700;
    padding-top:7px;
    font-size:15px;
    min-width:100px;
    color: #e2e2e2;
}

/* Main content */

.webcontentmain {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  background-color: ;
}

#frontlogo {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
}

#navbuttonscontent {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: "msjhl";


}

.navbuttonstyle1 {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../img/buttonimgreservation.jpg");
    background-repeat: no-repeat;
background-color: lightblue;
text-align: center;
min-width: 280px;
max-width: 630px;
min-height: 60px;
font-size: 36px;
padding-top: 20px;
padding-bottom: 20px;
border-radius:5px;
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbuttonstyle2 {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../img/buttonimgfood.jpg");
    background-repeat: no-repeat;
background-color: lightblue;
text-align: center;
min-width: 280px;
max-width: 630px;
min-height: 60px;
font-size: 36px;
padding-top: 20px;
padding-bottom: 20px;
border-radius:5px;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbuttonstyle3 {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../img/buttonimginfo.jpg");
    background-repeat: no-repeat;
background-color: lightblue;
text-align: center;
min-width: 280px;
max-width: 630px;
min-height: 60px;
font-size: 36px;
padding-top: 20px;
padding-bottom: 20px;
border-radius:5px;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbuttonstyle4 {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../img/buttonimgevents.jpg");
    background-repeat: no-repeat;
background-color: lightblue;
text-align: center;
min-width: 280px;
max-width: 630px;
min-height: 60px;
font-size: 36px;
padding-top: 20px;
padding-bottom: 20px;
border-radius:5px;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbuttonstyle5 {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../img/buttonimgcontact.jpg");
    background-repeat: no-repeat;
background-color: lightblue;
text-align: center;
min-width: 280px;
max-width: 630px;
min-height: 60px;
font-size: 36px;
padding-top: 20px;
padding-bottom: 20px;
border-radius:5px;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.frontnavlink {
    text-decoration: none;
    color:#ffffff
}

.frontnavlink:visited {
text-decoration: none;
    color:#ffffff
}

.frontnavlink:hover {
    text-decoration: none;
    color:#ffffff
}

.frontnavlink:active {
    text-decoration: none;
    color:#ffffff
}

.frontnavlink:focus {
    text-decoration: none;
    color:#ffffff
}

.restaurants {
    color:white;
    font-size: 20px;
    background-color: lightgrey;
    font-style: verdana;
    min-height: 150px;
    min-width: 150px;
    max-height: 300px;
    max-width: 300px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.restaurantlogo {
    padding: 15px;
}
#pagecontentname {
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
    color:black;
    font-family: "msjhl";

}

.wborderthin {
    border: 1px;
    border-style: solid;
    border-color: white;
    color: black;
}

.centeredsimpletext {
    text-align: center;
}

#reservationlogo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    margin-bottom: 10px;
}

#desc {
    font-size: 18px;
    font-family: Helvetica;
    padding: 10px;
}

.reservation {
    margin-top: 20px;
    font-size: 24px;
    text-align:center;
    min-width: 90px;
    min-height: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: #ffffff;
    color: black;
    font-family: Helvetica;
    border-radius: 10px;
    padding-top: 5px;


}

     #map {
        width: 100%;
        height: 320px;
        margin-top: 10px;
      }

.subtitle {
    font-size: 24px;
    color: black;
    text-align:center;
}

.morecontent {
    font-size: 14px;
    color: black;
    font-family: Helvetica;
}

#morecontentinfo {
    text-align: center;
}
/* Main content ends here */
.footer {
    text-align:center;
    color:#e2e2e2;
    margin-bottom:0;
    padding-top:5px;
    margin-top: 100px;
    padding: 20px;
    font-size:15px;
    font-family:"msjhl
}

/* This is an original footer 

.footer {
    margin-top: 80px;
    width: 100%;
    color: #434343;
background-color: #eaeaea;
    margin-bottom:0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    min-width: 250px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cfcfcf;
    
}

 This is where it ends */



